/* body{
	background-color: #787A91;
} */
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}
.navbar-nav li a:hover {
	color: #a4ebf3 !important;
}
.navbar-brand:hover {
	color: #a4ebf3 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #a4ebf3;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
	color: black;
}
#footer {
	position: fixed;
	height: 50px;
	background-color: red;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

.compose {
	border-radius: 20px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.compose-box {
	display: inline;
	padding: 10px;
	border-radius: 15px;
	background-color: #787a91;
}
.compose-box a:link {
	color: white;
	text-decoration: none;
}
.compose-box a:visited {
	color: white;
	text-decoration: none;
}
.compose-box a:hover {
	color: #a4ebf3;
	text-decoration: none;
}
.image-container {
	border-radius: 20px;
	height: 20px;
	width: 20px;
}
.article-box {
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
