<div class="container mt-3">
	<div class="compose-box">
		<a href="../compose">
			<img class="image-container" src="./images/plus.svg" alt="" />
			<h3 class="d-inline mx-2">compose</h3>
		</a>
	</div>
</div>
